/.idea/
/target/
/output-testng/
/logs/
/browserstack.yml
/README.md
/evidence.zip
/evidence/
/results.txt
/results_failed.txt
/results_passed.txt
/results_skipped.txt
src/main/resources/tsPipelineResults.properties
src/main/resources/tsQaValidation.properties